@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <p>Crear Nuevo Cadete   <a asp-controller="Cadete" asp-action="Index">click aqui</a>.</p>
    <p>Crear Pedido Nuevo    <a asp-controller="Pedido" asp-action="Index">click aqui</a>.</p>
</div>
