@{
    ViewData["Title"] = "Crear pedido";
}
@model CadeteriaWeb.Models.ViewModels.PedidoCreateViewModel;



<section class="">
    <article>
        <h2 class="">Crear pedido</h2>

        <form asp-action="CreatePedidoPost" method="post">
            <input hidden asp-for="IdCadete" type="text" class="">

            <div class="">
                <label asp-for="Observacion" class=""></label>
                <input asp-for="Observacion" type="text" class="">
                <span asp-validation-for="Observacion" class=""></span>
            </div>

            <div class="">
                <label asp-for="NombreCliente" class=""></label>
                <input asp-for="NombreCliente" type="text" class="">
                <span asp-validation-for="NombreCliente" class=""></span>
            </div>

            <div class="">
                <label asp-for="DireccionCliente" class=""></label>
                <input asp-for="DireccionCliente" type="text" class="">
                <span asp-validation-for="DireccionCliente" class=""></span>
            </div>

            <div class="">
                <label asp-for="TelefonoCliente" class=""></label>
                <input asp-for="TelefonoCliente" type="text" class="">
                <span asp-validation-for="TelefonoCliente" class=""></span>
            </div>

            <button class="" type="submit">Confirmar</button>

            @if (Model.Message != null && Model.Message != "")
            {
                <hr class="">

                <div class="">
                    <strong>Error!</strong> @Model.Message
                </div>
            }
        </form>
    </article>              
</section>