@{
    ViewData["Title"] = "Info Cliente";
}
@model CadeteriaWeb.Entities.Cliente;

<section class="">
    <article>
        <h3 class="">Info Cliente</h3>

        <div class="">
        <p>Nombre: @Model.Nombre</p>
        </div>

        <div class="">
        <p>Direccion: @Model.Direccion</p>
        </div>

        <div class=""
        <p>Telefono: @Model.Telefono</p>
        </div>

        <hr class="">

        <div>
        <p class="">Recordá que para modificar algún dato solo tenés que modificar el pedido asociado</p>
        </div>
    </article>          
</section>